.navbar{
    position: relative;
}


.fa-bars{
   margin-left: 10px;
}

.fa-search{
   margin-left: 10px;
}

.space
{
    margin-left: 10px;
}



.elements {
    margin-left: 10px;
    display: inline-block; 
    margin: 20px 0px;
    position: absolute;
    top:  -10px  ;
}

.element {
    display: inline-block;
    width: 400px;
    margin-left: 500px;
    position: absolute;
   margin-top: -40px;
}

svg {
    width: 300px;
    height: 100px;
    margin-top: 10px;
    
    display: inline-block;
    position: absolute;
}
   
   .right,
   .right1 {
       width: 140px;
       height: 35px;
       background-color: #567b95;
       color: white;
   }
   .right {
       margin-left: 1190px;
   }
   h1 {
       font-size: 40px;
       color: #121212;
       margin-left: 0 auto;
   }

   .big {
       width: 945px;
       height: 531px;
       margin-left: 280px;
   }

   .fig {
       margin-left: 280px;
   }

   .rick {
       color: #888;
       font-size: 15px;
   }

   h3 {
       margin-left: 530px;
   }

   
       .date1 {
           margin-left: 530px;
       }
      
.ftmsh1{
width: 15px;
height: 15px;
background-color: gray;
border-radius: 50px;
padding: 5px;
margin-left: 300px ;
}

.ftmsh2{
width: 15px;
height: 15px;
background-color: gray;
border-radius: 50px;
padding: 5px;
margin-left:330px ;
}
               
.ftmsh3{
width: 15px;
height: 15px;
background-color: gray;
border-radius: 50px;
padding: 5px;
margin-left:360px ;
}
                           
.ftmsh4{
width: 15px;
height: 15px;
background-color: gray;
border-radius: 50px;
padding: 5px;
margin-left:390px ;
}
.ftmsh5{
    width: 25px;
    height: 25px;
    margin-left: 420px;
 }
.ftmsh6{
   width: 25px;
   height: 25px;
   margin-left: 450px;
   }                                    
.for-icon{
   position: relative;
   bottom: 18px;
}
                                                  
.ftmsh1:hover,
.ftmsh2:hover,
.ftmsh3:hover,
.ftmsh4:hover {
   background-color: white;
   border: 1px solid gray;
}

.gap {
   margin: 0 auto;
   width: 500px;
}

aside {
   float: right;
   position: relative;
   width:250px;
   height: 350px;
   

}

.text-for-img{
   width: 140px;
   float: right;
   position: relative;
   bottom: 90px;
   margin-right: 10px;
}


.unlock {
   text-align: center;
   margin: 0 auto;
   width: 600px;
}
div {
   display: block;
}

.pic {
width: 945px;
}

section {
   margin: 0 auto;
   width: 100%;
   display: block;
}

.img2 {
   width: 945px;
   height: 576px;
   margin: 0 auto;
}

.pt1,
.pt2,
.pt3,
.pt4,
.pt5,
.pt6,
.pt7,
.pt8 {
   width: 180px;
   height: 171px;
   font-size: 14px;
   position: absolute;
}


.fp1 {
   position: relative;
   top: -450px;
}

.fp2 {
   position: relative;
   top: -450px;
   left: 250px;
}

.fp3 {
   position: relative;
   top: -450px;
   left: 500px;
}

.fp4 {
   position: relative;
   top: -450px;
   left: 750px;
}

.sp1 {
   position: relative;
   top: -180px;
   left: 10px;
}

.sp2 {
   position: relative;
   top: -180px;
   left: 250px;
}

.sp3 {
   position: relative;
   top: -180px;
   left: 490px;
}

.sp4 {
   position: relative;
   top: -180px;
   left: 730px;
}


.telescope {
   margin-left: 420px;
}
.figc1 {
   margin: 0 7px 0 0;
   width: 300px;
   margin-left: 420px;
}


.figc2 {
 margin-left: 0px;
 margin-top: 40px;
}

.figc3 {
   margin-left: 420px;
}

.video {
   margin-left: 370px;
   width: 700px;
   height: 450px;
}
.lastp {
   font-size: 12px;
   color: #666;
   margin-left: 490px;
   position: relative;
}

.read {
   padding: 5px;
   background-color: #567b95;
   color: white;
   margin-left: 490px;
}

.order {
   position: absolute;
   left: 376px;
}

footer {
   margin: 0 auto;
   width: 1100px;
   padding-bottom: 50px;
   display: block;
}

.mars {
   margin-left: -300px;
   width: fit-content;
   display: inline-block;
   position: absolute;
   margin-top: 210px;
   color: rgb(10, 10, 10);
}
.top {
   display: inline-block;
}
.bottom {
   display: inline-block;
}

.sectionimg {
   padding: 40px;
}

.bigdiv1 {
   width: fit-content;
   float: left;
}

.floatright {
   width: 85%;
   margin-left: 10%;  
   float: right;
   margin-top: -590px;
   margin-right:-400px;
}

.popular {
   margin-left: 550px;
   width: fit-content;
   color:black ;
}

section div h3 a {
   color: black;
   text-decoration: none;
}
ul li {
   list-style-type: none;
}


.footer2 section ul {
   display: inline-block;
}

.gogo {
   padding-top: 10px;
   float: right;
   margin-left: 500px;
}

.header {
display: inline-block;
}

.news {
   margin-left: 40px;
   width: fit-content;
   margin-top: 50px;
}

.end {
   width: fit-content;
}

.end,
.end2,
.end3,
.end4 ul li {
   color: black;
}



.footer2 {
   position: relative;
}

.end {
   margin-top: 100px;
   position: absolute;
   left: -100px
}
.end1 {
   margin-top: 100px;
   position: absolute;
   left: 60px;
}
.end2 {
   margin-top: 100px;
   position: absolute;
   left: 240px
}

.end3 {
   margin-top: 100px;
   position: absolute;
   left: 440px
}

.end4 {
   margin-top: 100px;
   position: absolute;
   left: 640px;
}

.end5 {
   margin-top: 100px;
   position: absolute;
   left: 820px;
}


.news
 {
    position: absolute;
    margin-left: -60px;
}
.news2 {
   position: absolute;
   margin-left: 100px;
   margin-top: 50px;
}


.news3 {
   position: absolute;
   margin-left: 280px;
   margin-top: 50px;
}

.news4 {
   position: absolute;
   margin-left: 480px;
   margin-top: 50px;
}

.news5 {
   position: absolute;
   margin-left: 680px;
   margin-top: 50px;
}

.news6 {
   position: absolute;
   margin-left: 860px;  
   margin-top: 50px;
}



.news7 {
   margin-top: 100px;
   position: absolute;
   margin-left: 1050px;
}

.css-r5ic95 {
   width: 10px;
   margin-top: -40px;
   margin-left: -15px;
}

.lastend {
   margin-top: 1100px;
   font-size: 12px;
   margin-left: 200px;
   color: black;
}

* {
   /* border: 1px solid black; */
}